/* Ensure global styles are minimal */
html, body {
    height: 100%; /* Make sure html and body take full height */
    margin: 0; /* Remove default margin */
    background-color: #222; /* Set background color to black */
}

.predict-container {
    font-family: 'F1-regular', Arial, sans-serif;
    background: #222; /* Background color for the container */
    color: #61dafb;
    padding: 20px;
    max-width: 1200px; /* Set a max width for the container */
    margin: 0 auto; /* Center the container */
}

.predict-drivers {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust for fewer cards */
    gap: 20px; /* Space between cards */
}

.predict-driver-card {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    justify-content: space-between; /* Space elements vertically */
    align-items: center; /* Center align items */
    background: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    max-width: 800px; /* Set a max width for each driver card */
    margin: 0;
    width: 90%; /* Full width within the card limits */
}

.predict-driver-card:hover {
    transform: scale(1.05);
}

.constructor-name {
    flex: 0.5;
    text-align: right;
    color: #ffffff;
    font-size: medium;
}

.predict-driver-card.selected {
    background: #0e76a8; /* Change this color when selected */
    color: #fff; /* Change text color for better visibility */
    border: 2px solid #61dafb; /* Optional: add a border */
    transition: background 0.3s ease; /* Smooth transition */
}

.predict-driver-name {
    font-family: 'F1-bold';
    font-size: large;
    margin-bottom: 3px;
}

.predict-constructor-name {
    font-size: medium;
    color: #ffffff; /* Change text color to white */
    margin-bottom: 10px; /* Space between constructor name and checkbox */
}

.predict-driver-checkbox {
    margin-top: auto; /* Push checkbox to the bottom of the card */
}

.predict-race-info {
    display: flex;
    justify-content: space-between; /* Align items in a row */
    width: 100%; /* Full width */
    color: white; /* Text color */
    margin: 10px 0; /* Margin for spacing */
}

.results-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Space out the elements */
    width: 100%; /* Make the container take full width */
    margin-top: -30px; /* Space above the buttons */
    margin-bottom: 10px;
    align-items: center; /* Align items vertically centered */
}

.button {
    background-color: #61dafb; /* Change to match theme */
    color: #222; /* Text color for better contrast */
    border: none;
    border-radius: 5px;
    padding: 10px 15px; /* Adjust padding */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'F1-regular';
}

.button:hover {
    background-color: #48a1d6; /* Darker shade on hover */
    transform: translateY(-2px); /* Slight lift on hover */
}

.result-item {
    margin: 10px 0; /* Space between result items */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Make it responsive */
}

.result-button-container {
    display: flex;
    justify-content: center; /* Space out the elements */
    width: 100%; /* Make the container take full width */
    margin-top: 10px; /* Space above the buttons */
    margin-bottom: 10px;
    align-items: center; /* Align items vertically centered */
}

.result-button {
    background-color: #61dafb; /* Change to match theme */
    color: #222; /* Text color for better contrast */
    border: none;
    border-radius: 5px;
    padding: 10px 15px; /* Adjust padding */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'F1-regular';
}

.result-button:hover {
    background-color: #48a1d6; /* Darker shade on hover */
    transform: translateY(-2px); /* Slight lift on hover */
}


.result-container {
    font-family: 'F1-regular', Arial, sans-serif;
    background: #222;
    color: #61dafb;
    padding: 20px;
}

.prediction-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin: 10px 0;
    width: 95%;
}

.prediction-card:hover {
    transform: scale(1.05);
}

.prediction-driver-name {
    flex: 1;
    text-align: left;
    font-family: 'F1-bold', Arial, sans-serif;
    font-size: larger;
}

.prediction-constructor-name {
    font-size: large;
    color: #ffffff;
}

.prediction-details {
    flex: 0.5;
    text-align: right;
    color: #ffffff;
    font-size: medium;
}

.prediction-label {
    background-color: #61dafb;
    color: #222;
    padding: 5px 10px;
    border-radius: 5px;
}

.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    color: #fff; /* Text color for the badges */
}

.badge-podium {
    background-color: gold; /* Gold badge for podium */
    color: black; /* Black text */
}

.badge-points {
    background-color: orange; /* Silver badge for points */
    color: black; /* Black text */
}

.badge-dnf {
    background-color: white; /* White badge for no points/DNF */
    color: black; /* Black text */
}
